@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav.flex.z-40.w-full.h-auto.items-center.justify-center.data-\[menu-open\=true\]\:border-none.sticky.top-0.inset-x-0.backdrop-blur-lg.data-\[menu-open\=true\]\:backdrop-blur-xl.backdrop-saturate-150.bg-background\/70{
  background-color: #000000 !important;
  color: white;
}
.figurecartel {
  max-width: calc(100% - 40px); /* Ten en cuenta el margen */
  margin: 20px;
}

.cartelimg {
  max-width: 100%;
  height: auto;
  display: block; /* Para evitar espacio adicional debajo de la imagen */
}

.sct{
  background: rgb(126,0,0);
background: linear-gradient(347deg, rgba(126,0,0,1) 23%, rgba(0,0,0,1) 40%, rgba(16,0,0,1) 67%, rgba(161,0,0,1) 83%);
}

.tarjetilla {
  height: 100%;
  width: 100%;
}

.tarjetilla:hover {
  transform: translateX(25px);
  transition: transform 8s ease-out;
  filter: drop-shadow(0px 4px 8px rgba(255, 255, 255, 0.863));
}

.tarjetilla:not(:hover){
  transition: transform 20s ease-out;
}

.logo {
  margin-right: 200px;

}

.boton {
  color: white;
  background: rgb(255,0,0);
  background: linear-gradient(347deg, rgb(30, 255, 0) 23%, rgba(0,0,0,1) 70%);
}
.checkboxs{
  /* background-color: red; */
  display: flex;
  flex-flow: row-nowrap;
  width: 100%;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  padding-top: 27px;
}
.checkboxs label{
  display: flex;
}
.listado{
  background-color: blue;
}
.checktxt{
  display: block;
  padding-left: 10px;
  font-size: 17px;
}

/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.new {
  padding: 50px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.mainlogin {
  background-color: red;
  /* background-image: url("https://d2hucwwplm5rxi.cloudfront.net/wp-content/uploads/2021/10/27074253/Kawasaki-Motorcycle-Facts-Cover-271020211230.jpg") ; */
}


.button-circle {
  width: 40px; /* Ajusta el ancho del botón */
  height: 40px; /* Ajusta la altura del botón */
  border-radius: 50%; /* Establece el radio de borde para hacer un círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #10B981; /* Cambia al color verde deseado */
  border: none;
}

.button-circle svg {
  fill: white; /* Color de relleno del SVG */
  width: 60%; /* Ajusta el tamaño del SVG dentro del botón */
  height: 60%; /* Ajusta el tamaño del SVG dentro del botón */
}

.loginpagina {
  background-image: url("https://i.pinimg.com/564x/33/9c/1d/339c1ddafadec3665f3fc7417f46f9f0.jpg") ;
  /* background-size: cover; 
  background-position: center; */
  background-repeat: no-repeat;
}

.formulogin {
  background-image: url("https://i.pinimg.com/564x/aa/b5/a0/aab5a04a6b377b33b9bddeb76a393f95.jpg") ;
  background-color: rgba(255, 255, 255, 0.397); /* Fondo del formulario con opacidad */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  filter: blur(2);
  color: white;
}

.fondocontainer {
  background-color: #000000;
}

.formularioadd {
 
  height: 500px;
  width: 800px;

}

/* .formmm {
  display: flex;
}

.formuflex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
} */

.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.product-details {
  flex: 0 0 50%;
  padding: 0 20px;
}

.product-title {
  font-size: 36px;
  margin: 0 0 10px;
  color: #333;
}

.product-model {
  font-size: 24px;
  margin: 0 0 20px;
  color: #666;
}

.product-description {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #444;
}

.product-price {
  font-size: 30px;
  margin: 0 0 30px;
  color: #333;
}

.buy-now-btn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #0056b3;
}

.product-image {
  flex: 0 0 45%;
  max-width: 45%;
}

.product-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
